<!-- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="social-icons list-inline text-center">
                    <!-- <li class="learn">
                        <a href="http://students.learn.co/students/dom-mckellar.html" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <span class="learn-icon">&#66;</span>
                            </span>
                        </a>
                    </li> -->
                    {% if site.twitter_username %}
                    <li class="twitter">
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li class="facebook">
                        <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- {% if site.google-plus_username %} -->
                    <li class="google">
                        <a href="https://plus.google.com/+{{ site.google-plus_username }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <!-- {% endif %} -->

                </ul>
                <p class="copyright">&copy; {{ site.time | date: '%Y' }} Dominic McKellar</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
